<div class="auth-wrapper" [ngClass]="{ 'sidebar-open': isSidebarOpen, 'sidebar-closed': !isSidebarOpen }">
    <div class="auth-container">
        <h2>Listagem de Estoques</h2>
        <div class="dynamic-buttons">
            <button pButton icon="pi pi-plus" class="p-button-primary" (click)="openDialog()"
                pTooltip="Adicionar Estoque" tooltipPosition="bottom" [rounded]="true" [text]="true" [raised]="true"
                severity="warning">
            </button>
            <button pButton icon="pi pi-print" class="p-button-primary" [rounded]="true" [text]="true" [raised]="true"
                (click)="print()" pTooltip="Imprimir" tooltipPosition="bottom" severity="secondary">
            </button>
            <button pButton icon="pi pi-file-excel" class="p-button-primary" (click)="exportToXLSX()"
                pTooltip="Exportar" tooltipPosition="left" [rounded]="true" [text]="true" [raised]="true"
                severity="info">
            </button>
        </div>

        <p-toast></p-toast>

        <p-table [value]="stocks" [paginator]="true" [rows]="10" responsiveLayout="scroll"
            [rowsPerPageOptions]="[10, 20]" [autoLayout]="true" [style]="{'margin-top':'10px'}" dataKey="id"
            editMode="row">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:10%">Ações</th>
                    <th style="width:30%">Produto</th>
                    <th style="width:30%">Quantidade</th>
                    <th style="width:30%">Preço por unidade</th>
                    <th style="width:30%">Última Atualização</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-stock let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="stock">
                    <td>
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                (click)="onRowEditInit(stock)" class="p-button-rounded p-button-text">
                            </button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="onRowEditSave(stock)"
                                class="p-button-rounded p-button-text p-button-success mr-2">
                            </button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                (click)="onRowEditCancel(stock, ri)"
                                class="p-button-rounded p-button-text p-button-danger">
                            </button>
                            <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash"
                                (click)="onDelete(stock)" class="p-button-rounded p-button-text p-button-danger">
                            </button>
                        </div>
                    </td>
                    <td>{{ stock.product?.name }}</td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="stock.quantity" placeholder="Quantidade" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ stock.quantity }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="stock.price_per_unit" placeholder="Preço" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ stock.price_per_unit | currency:'BRL' }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>{{ stock.last_updated | date: 'dd/MM/yyyy HH:mm' }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-dialog header="Adicionar Estoque" [(visible)]="isDialogOpen" [modal]="true" [closable]="false">
        <form>
            <div class="form-grid">
                <p-floatLabel>
                    <p-dropdown id="product_id" [(ngModel)]="newStock.product_id" [options]="products" name="product_id"
                        placeholder="Selecione um produto" [style]="{'min-width': '90%'}">
                    </p-dropdown>
                    <label for="product_id">Produto</label>
                </p-floatLabel>
                <p-floatLabel>
                    <input id="quantity" type="number" pInputText [(ngModel)]="newStock.quantity" name="quantity" />
                    <label for="quantity">Quantidade</label>
                </p-floatLabel>
                <p-floatLabel>
                    <input id="price_per_unit" type="number" pInputText [(ngModel)]="newStock.price_per_unit" name="price" />
                    <label for="price_per_unit">Preço</label>
                </p-floatLabel>
            </div>
            <div class="dialog-footer">
                <button pButton icon="pi pi-check" label="Salvar" class="p-button-primary"
                    (click)="createStock()"></button>
                <button pButton icon="pi pi-times" label="Cancelar" class="p-button-secondary"
                    (click)="closeDialog()"></button>
            </div>
        </form>
    </p-dialog>
</div>

<div *ngIf="isLoading" class="loading-overlay">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
        animationDuration=".5s" />
</div>