<div class="auth-wrapper">
    <div class="auth-container">
        <div class="image-container">
            <img src="assets/rb_25165.png" alt="Floristas cuidando de plantas" />
        </div>

        <div class="login-container">
            <div class="logo">
                <img src="assets/rb_115927.png" alt="Logo da Flora Reis" />
            </div>
            <h2>LOGIN</h2>
            <form (ngSubmit)="login()">
                <p-floatLabel>
                    <input id="email" type="email" name="email" pInputText [(ngModel)]="email" required />
                    <label for="email">E-mail</label>
                </p-floatLabel>

                <p-floatLabel>
                    <input type="password" id="password" pInputText [(ngModel)]="password" name="password" required />
                    <label for="password">Senha</label>
                </p-floatLabel>

                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                </div>

                <div class="buttons">
                    <button type="submit" class="login-btn">ENTRAR</button>
                </div>
                
                <a class="button-link" [routerLink]="'/password-reset'">ESQUECI A SENHA</a>
            </form>
        </div>
    </div>
</div>