<div class="auth-wrapper">
    <div class="auth-container">
        <form *ngIf="!codeSent && !passwordReset">
            <h2>Recuperar Senha</h2>
            <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
            <p-floatLabel>
                <input id="email" type="email" name="email" pInputText [(ngModel)]="email" required />
                <label for="email">E-mail</label>
            </p-floatLabel>
            <button type="submit" class="btn" (click)="requestCode()">ENVIAR CÓDIGO</button>
        </form>

        <form *ngIf="codeSent && !passwordReset">
            <h2>Inserir Código</h2>
            <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
            <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
            <div class="code_validation">
                <p-inputOtp type="text" id="code" [(ngModel)]="code" name="code" [length]="6" separator="-"
                    [disabled]="isLoading" />
            </div>
            <button type="submit" class="btn" (click)="validateCode()">VALIDAR</button>
        </form>

        <form class="reset-password-form" *ngIf="codeSent && passwordReset">
            <h2>Redefinir Senha</h2>
            <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
            <div class="newPassword">
                <label for="newPassword">Nova Senha</label>
                <p-password [(ngModel)]="newPassword" [toggleMask]="true" name="newPassword" promptLabel="Defina a senha" weakLabel="Fraca" mediumLabel="Média" strongLabel="Forte"/>
            </div>
            <div class="confirmPassword">
                <label for="confirmPassword">Confirmar Senha</label>
                <p-password [(ngModel)]="confirmPassword" [toggleMask]="true" name="confirmPassword"/>
            </div>
            <button type="submit" class="btn" (click)="resetPassword()">REDEFINIR SENHA</button>
        </form>
    </div>

    <div *ngIf="isLoading" class="loading-overlay">
        <p-progressSpinner 
            styleClass="w-4rem h-4rem" 
            strokeWidth="8" 
            fill="var(--surface-ground)" 
            animationDuration=".5s" />
        <p class="loading-text">Por favor, aguarde. Estamos enviando o código ao seu e-mail.</p>
    </div>
</div>