.auth-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f1f5;
}

.auth-container {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

p-floatLabel {
    width: 100%;
    margin-bottom: 15px;
    color: #556b2f;
    margin-top: 15px;
    font-size: 0.9em;
    font-weight: bold;
    text-align: left;

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #cccccc;
        background-color: #eee;
        border-radius: 5px;
        font-size: 14px;
        box-sizing: border-box;
    }
}

p-inputOtp {
    display: flex;
    align-items: center;
    justify-content: center;

}

.newPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

    label{
        margin-bottom: 10px;
    }
}

.confirmPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;

    label{
        margin-bottom: 10px;
    }
}

button.btn {
    background-color: #6a8a52;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
    width: 100%;
}

button.btn:hover {
    background-color: #556b2f;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-overlay p-progressSpinner {
    width: 80px;
    height: 80px;
    color: #6a8a52;
}

.loading-text {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #6a8a52;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
